.dashboard {
    display: flex;
  }
  
  .sidebar {
    width: 200px;
    height: 800px;
    background: #f4f4f4;
    padding: 20px;
    padding-top: 50px;
  
  }
  
  .sidebar h2 {
    margin-top: 0;
  }
  
  .sidebar nav ul {
    list-style: none;
    padding: 20px;
  }
  
  .sidebar nav ul li {
    margin: 10px 0;
  }
  
  .sidebar nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
  }
  
  .header {
    background: #8bd5ff;
    color: #fff;
    padding: 10px 20px;
  }
  
  .content {
    margin-top: 20px;
  }
  